h1 {
    margin-top: 20px; /* Adjust as needed */
    font-family: 'Poppins', sans-serif; /* Change font here */
}
p{
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}
